@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nanum+Gothic+Coding&display=swap');

* {
 
  font-family: 'Major Mono Display', monospace;
  padding: 0;
  margin: 0;
}

body {
  cursor: url('./cursors/mouse-cursor.png'), auto;
  height: 100vh;
  background: linear-gradient(
    to right,
    #f582ae 0%,
    #f582ae 40%,
    #fef6e4 40%,
    #fef6e4 100%
  );

  font-size: 1.15em;
  align-items: center;
  justify-content: center;
}

p {
  color:#172c66;
  padding: .2em;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size:20px;
  text-align: left;

}

h1 {
  color:#001858;
}

a {
  color: #0e172c;
}

a:hover{
  cursor: url('./cursors/cursor.png'), auto;
  color: #078080;
}

i:hover{
  opacity: 0.6;
  color: purple;
  cursor: url('./cursors/cursor.png'), auto;

}