@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nanum+Gothic+Coding&display=swap');

* {
  font-family: 'Major Mono Display', monospace;
  padding: 0;
  margin: 0;
}

body {
  cursor: url('./cursors/mouse-cursor.png'), auto;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    to right,
    #f582ae 0%,
    #f582ae 40%,
    #fef6e4 40%,
    #fef6e4 100%
  );

  font-size: 1.15em;
  align-items: center;
  justify-content: center;
}

object {
  height: 90vh;
  width: 90vw;
}
.fullcontainer {
  height:auto;
  width:auto;
}
.homepage-container {
  width: 1000px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
}

.content-container{
  height: 90vh;
  display: flex;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
}

.about {
  cursor: url('./cursors/mouse-cursor.png'), auto;
  min-height: auto;
  width: 100%;
  max-height: fit-content;
  background: #f9f8fc;
  font-size: 1.15em;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 8px;
}

.contact {
  cursor: url('./cursors/mouse-cursor.png'), auto;
  min-height: 600px;
  max-height: fit-content;
  background: #f9f8fc;
  font-size: 1.15em;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 8px;
}

.projects {
  cursor: url('./cursors/mouse-cursor.png'), auto;
  min-height: 600px;
  max-height: fit-content;
  background: #f9f8fc;
  font-size: 1.15em;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 8px;
}

p {
  color:#172c66;
  padding: .2em;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size:20px;
  text-align: left;
}

h1 {
  padding-bottom: 0.2em;
  font-size: 6vh;
  color:#001858;
}

h4 {
    font-size: 8vh,
}

a {
  color: #0e172c;
}

a:hover{
  background-color: #078080;
  color:#fef6e4;
  cursor: url('./cursors/cursor.png'), auto;
  border-radius: 8px;
}

.navitem:hover{
  color: #078080;
  background-color: transparent;
}
.hb:hover {
  background-color: black;
  cursor: url('./cursors/cursor.png'), auto;
  border-radius: 8px;
  
}

i:hover{
  opacity: 0.6;
  color: #078080;
  cursor: url('./cursors/cursor.png'), auto;

}

button{
  font-family: 'Nanum Gothic Coding', monospace;
  border-radius: 8px;
  border: #f582ae;
  background-color: transparent;
  margin-bottom: 300px;
}

button:hover{
  background-color: #078080;
  color:#fef6e4;
  cursor: url('./cursors/cursor.png'), auto;
}

.reachout{
  text-align: center;
}

.contact-me{
  text-align: left;
  padding: 0 2rem 0 2em;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 400px;
  line-height: 1.5rem;
}

input{
  border: none;
  border-bottom: 1px solid #001858;
  background-color: transparent;
  width: 400px;
  margin-left: 3px;
  color:#001858;
  font-size: larger;
}

form {
  border-style: none;
  font-family: 'Nanum Gothic Coding', monospace;
  color:#001858;
  margin-top: none;
  width:auto;
}

label{
  text-align: left;
  font-size: 20px;
  line-height: 1;
  margin-bottom: none;
  padding-bottom: none;
  margin-top: 1em;
}

.submit-button {
  padding: .5em;
  width: 80px;
  font-family: 'Nanum Gothic Coding', monospace;
  border-radius: 10px;
  border: #f582ae;
  border-style: solid;
  background-color: transparent;
  margin-bottom: 5%;
  align-self: center;
}

.submit-button:hover{
  background-color: #f582ae;
  color: #f9f8fc;
  cursor: url('./cursors/cursor.png'), auto;
}

input:focus {
  outline:none !important;
}

input:hover {
  cursor: url('./cursors/quill-pen.png'), auto;
}
textarea{
  background-color:#f9f8fc;
}
textarea:hover {
  cursor: url('./cursors/quill-pen.png'), auto;
}
textarea:focus {
  outline:none !important;
}

label:hover{
  cursor: url('./cursors/quill-pen.png'), auto;
}


.techstack {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 3%;
 
}

.title{
  background: linear-gradient(180deg, #730040 0%, #301cbe 100%);
  background-clip: text;
  color: transparent;
}

.titleSpan {
  background: linear-gradient(180deg, #ffd7ff 0%, #ffb6ff 100%);
  color: transparent;
}


.language{
  background: linear-gradient(180deg, #730040 0%, #301cbe 100%);
  background-clip: text;
  color: transparent;
  font-size: 400%;
  line-height: 1;
  text-align: center;
  animation: fadeInOut linear 5s infinite;
  margin-bottom: auto;
  margin-top: auto;
}

.fullstack {
  width: 100%;
  height: auto;
}

@keyframes fadeInOut {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0%;
  }
  
}

@keyframes textclip {
  to {

    background-position: 200% center
}

}

.card.project{
  background: #fff;
  width: 24em;
  border-radius: 0.6em;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}
.card.project h2 {
  color: #222;
  margin-top: -0.2em;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  transition: all ease-in 100ms;
}

.card.project p {
  color: #777;
}

.card-body.project {
  padding: 1.2em;
}

.card.project h5 {
  color: #bbb;
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 0.04em;
  margin: 1.4em 0 0 0;
  text-transform: uppercase;
}

.card.project:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
    color: #078080
  }
  .cards {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap:wrap;
  }

  .projectLinks:hover {
    background-color: transparent;
    color:#078080;
    cursor: url('./cursors/cursor.png'), auto;
    border-radius: 8px;
  }