@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nanum+Gothic+Coding&display=swap');

* {
  font-family: 'Major Mono Display', monospace;
  padding: 0;
  margin: 0;
}

body {
  cursor: url('./cursors/mouse-cursor.png'), auto;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    to right,
    #f582ae 0%,
    #f582ae 40%,
    #fef6e4 40%,
    #fef6e4 100%
  );

  font-size: 1.15em;
  align-items: center;
  justify-content: center;
}

object {
  height: 90vh;
  width: 90vw;
}

.homepage-container {
  width: 1000px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
}

.content-container{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  cursor: url('./cursors/mouse-cursor.png'), auto;
  min-height: 600px;
  max-height: fit-content;
  background: #f9f8fc;
  font-size: 1.15em;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 8px;
}

.contact {
  cursor: url('./cursors/mouse-cursor.png'), auto;
  min-height: 600px;
  max-height: fit-content;
  background: #f9f8fc;
  font-size: 1.15em;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 8px;
}

.projects {
  cursor: url('./cursors/mouse-cursor.png'), auto;
  min-height: 600px;
  max-height: fit-content;
  background: #f9f8fc;
  font-size: 1.15em;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 8px;
}

p {
  color:#172c66;
  padding: .2em;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size:20px;
  text-align: left;
}

h1 {
  padding-bottom: 0.2em;
  font-size: 6vh;
  color:#001858;
}

h4 {
    font-size: 8vh,
}

a {
  color: #0e172c;
}

a:hover{
  cursor: url('./cursors/cursor.png'), auto;
  color: #078080;
}

i:hover{
  opacity: 0.6;
  color: #078080;
  cursor: url('./cursors/cursor.png'), auto;

}

button{
  font-family: 'Nanum Gothic Coding', monospace;
  border-radius: 8px;
  border: #f582ae;
  background-color: transparent;
  margin-bottom: 300px;
}

button:hover{
  background-color: #078080;
  color:#fef6e4;
  cursor: url('./cursors/cursor.png'), auto;
}

.reachout{
  text-align: center;
}

.contact-me{
  text-align: left;
  padding: 0 2rem 0 2em;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 400px;
  line-height: 1.5rem;
}

input{
  border: none;
  border-bottom: 1px solid #001858;
  background-color: transparent;
  width: 400px;
  margin-left: 3px;
  color:#001858;
  font-size: larger;
}

form {
  border-style: none;
  font-family: 'Nanum Gothic Coding', monospace;
  color:#001858;
  margin-top: none;
  width:auto;
}

label{
  text-align: left;
  font-size: 20px;
  line-height: 1;
  margin-bottom: none;
  padding-bottom: none;
  margin-top: 1em;
}

.submit-button {
  padding: .5em;
  width: 80px;
  font-family: 'Nanum Gothic Coding', monospace;
  border-radius: 10px;
  border: #f582ae;
  border-style: solid;
  background-color: transparent;
  margin-bottom: 5%;
  align-self: center;
}

.submit-button:hover{
  background-color: #f582ae;
  color: #f9f8fc;
  cursor: url('./cursors/cursor.png'), auto;
}

input:focus {
  outline:none !important;
}

input:hover {
  cursor: url('./cursors/quill-pen.png'), auto;
}
textarea{
  background-color:#f9f8fc;
}
textarea:hover {
  cursor: url('./cursors/quill-pen.png'), auto;
}
textarea:focus {
  outline:none !important;
}

label:hover{
  cursor: url('./cursors/quill-pen.png'), auto;
}


.techstack {
  min-height: 600px;
  max-height: 600px;
  min-width: 900px;
  max-width: 900px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 
}

.title{
  background: linear-gradient(180deg, #730040 0%, #301cbe 100%);
  background-clip: text;
  color: transparent;
}

.titleSpan {
  background: linear-gradient(180deg, #ffd7ff 0%, #ffb6ff 100%);
  
  color: transparent;
}


.language{
  background: linear-gradient(180deg, #730040 0%, #301cbe 100%);
  background-clip: text;
  color: transparent;
  font-size: 60px;
  line-height: 1;
}

@keyframes movement {
  from { 
    transform: translateX(-5760px)
  }
  to {
    transform: translateX(2600px)
  }
}

.listOfLang {
  line-height: 2;
  display: inline-flex;
  list-style:none;
  left: -5000px;
  list-style-position: inside;
  animation-name: movement;
  animation-duration: 100s;
  transition: transform 3s;
  
}